/* This file was compressed using MbCompression library. http://blog.mironabramson.com */ 

/*.focusNews{ line-height:1.2em !important;padding-bottom:5px;clear:both}*/
div.scrollable{ position:relative;overflow:hidden;width:280px;height:412px;padding-left:0px;}
#focusItem{position:absolute;width:20000em;clear:both}
#focusItem { padding:0 ;float:left;width:280px;height:60px;cursor:pointer}
.scrollable .focusNews{overflow:hidden;clear:both;padding:0 0;}
/*.focusNews img{ border:1px solid #C7C8C3;padding:2px;margin-right:3px}*/

