div.scrollable{ position:relative;overflow:hidden;width:312px;height:410px;background-color:#E7E7E7;border:1px solid #C7C8C2}
#focusItem{ position:absolute;width:20000em;clear:both}
#focusItem div{ padding:5px;float:left;width:300px;height:90px;cursor:pointer}
