.CoolTheme
{
    z-index: 99999;
    background-color: #fff;
}
#OnlineUsersWindow
{
    right: 5px !important;
    left: auto !important;
    top: auto !important;
    bottom: 7px !important;
    overflow: auto;
    border: solid 1px #e3e3e3;
    background-color: #edeff4;
}
#OnlineUsersWindow .active
{
    width: 7px;
    height: 24px;
    display: block;
    background: url(../images/active.png) no-repeat right 9px;
    float: right;
    margin: 2px 15px 0 0;
}
#OnlineUsersWindow .name
{
    width: auto;
    float: left;
    height: 100%;
    line-height: 24px;
    margin: 2px 0 0 0;
}
#OnlineUsersWindow .avar
{
    float: left;
    width: 24px;
    height: 24px;
    margin: 0 4px 0 0;
    border: 1px solid #e7e7e7;
}
#OnlineUsersWindow .avar img
{
    width: 24px;
    height: 24px;
    margin: 1px 0 0 0;
    padding: 0;
    border: 0;
    border: 1px solid #abcdef;
}
#OnlineUsersWindowBody .user-item
{
    width: 100%;
    clear: both;
    height: 24px;
    line-height: 24px;
    margin: 6px 0 0 0;
    float: left;
    cursor: pointer;
}
#OnlineUsersWindowBody .user-item:hover
{
    background-color: #e3e3e3;
    height: 30px;
    line-height: 30px;
}
.CoolTheme .WindowTitle
{
    background-color: #4682B4;
    color: #ffffff;
    padding: 3px 20px 6px 5px;
    font-family: "Arial";
    cursor: move;
    text-align: left;
    font-size: 14px;
    height: 14px;
}
.CoolTheme .WindowTitle input
{
    background-color: #4682B4;
    color: #ffffff;
}
.CoolTheme div.WindowBody
{
    padding: 0px !important;
    height: auto;
    padding-bottom: 4px !important;
    overflow: hidden;
    background-color: #edeff4;
}
.CoolTheme div.WindowBody input
{
    border-right: solid 1px #fff !important;
}
.CoolTheme div.OnlineUsersWindowBorderLeft
{
    width: 100%;
    height: 450px;
    float: left;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.CoolTheme div.WindowBorderRight
{
}

.CoolTheme div.WindowTitleBorderLeft
{
    border: solid 1px #e3e3e3;
}

.CoolTheme div.WindowTitleBorderRight
{
    border: solid 1px #e3e3e3;
}
.CoolTheme .TitleMessageHistory
{
    position: absolute;
    right: 30px;
    top: 2px;
    padding: 0 15px;
    height: 22px;
    width: 15px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    line-height: 22px;
    display: block;
    font-size: 15px;
}
.CoolTheme .TitleMessageHistory:hover
{
    background-position: bottom left;
    outline: none;
}
.CoolTheme .TitleCloseButton
{
    position: absolute;
    right: 5px;
    top: 4px;
    padding: 0 5px;
    height: 22px;
    width: 15px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    line-height: 22px;
    display: block;
    font-size: 15px;
}
.CoolTheme .TitleCloseButton:hover
{
    background-position: bottom left;
    outline: none;
}
.CoolTheme .TitleMimizeButton
{
    position: absolute;
    right: 21px;
    top: 1px;
    padding: 0 5px;
    height: 22px;
    width: 15px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    line-height: 22px;
    display: block;
    font-size: 17px;
}
.CoolTheme .TitleMimizeButton:hover
{
    background-position: bottom left;
    outline: none;
}
.clear-line
{
    width: 100%;
    float: left;
    padding: 3px 0;
}
.khung
{
    float: right;
    height: auto;
    width: auto;
    position: relative;
    margin: 3px 5px 3px 0;
}
.khung .point
{
    position: absolute;
    right: -6px;
    top: 10px;
    background: url("bg/K-point.png") no-repeat scroll left top transparent;
    width: 7px;
    height: 10px;
}
.khung .t
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K-TLL.png") no-repeat scroll left top transparent;
}
.khung .tr
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K-TR.png") no-repeat scroll right top transparent;
    padding-top: 4px;
}
.khung .b
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K-BLL.png") no-repeat scroll left bottom transparent;
}
.khung .br
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K-BR.png") no-repeat scroll right bottom transparent;
    padding-bottom: 4px;
}
.khung .m
{
    height: auto;
    float: left;
    width: auto;
}
.khung .ml
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K-ML.png") repeat-y scroll left top transparent;
    padding-left: 4px;
}
.khung .mr
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K-MR.png") repeat-y scroll right top transparent;
    padding-right: 4px;
}
.khung .mc
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K-MC.png") repeat scroll right top transparent;
    min-height: 10px;
    min-width: 10px;
    max-width: 200px;
    color: #3e454c;
    line-height: 1.4;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding-left: 3px;
    word-wrap: break-word;
    font-size: 12px;
    font-family: Helvetica,Arial, 'lucida grande' ,tahoma,verdana,arial,sans-serif;
}
.avaruser
{
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 5px;
    margin-right: 3px;
}
.avaruser img
{
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 0;
}
.avaruser1
{
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 5px;
    margin-left: 3px;
}
.avaruser1 img
{
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 0;
}
.khung1
{
    float: left;
    height: auto;
    margin: 0;
    width: auto;
    position: relative;
    float: left;
    margin-left: 7px;
    margin: 3px 0 3px 5px;
}
.khung1 .point
{
    position: absolute;
    left: -6px;
    top: 10px;
    background: url("bg/K1-point.png") no-repeat scroll left top transparent;
    width: 7px;
    height: 10px;
}
.khung1 .t
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K1-TLL.png") no-repeat scroll left top transparent;
}
.khung1 .tr
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K1-TR.png") no-repeat scroll right top transparent;
    padding-top: 4px;
}
.khung1 .b
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K1-BLL.png") no-repeat scroll left bottom transparent;
}
.khung1 .br
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K1-BR.png") no-repeat scroll right bottom transparent;
    padding-bottom: 4px;
}
.khung1 .m
{
    height: auto;
    float: left;
    width: auto;
}
.khung1 .ml
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K1-ML.png") repeat-y scroll left top transparent;
    padding-left: 4px;
}
.khung1 .mr
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K1-MR.png") repeat-y scroll right top transparent;
    padding-right: 4px;
}
.khung1 .mc
{
    height: auto;
    float: left;
    width: auto;
    background: url("bg/K1-MC.png") repeat scroll right top transparent;
    min-height: 10px;
    min-width: 10px;
    max-width: 200px;
    color: #3e454c;
    line-height: 1.4;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding-left: 3px;
    word-wrap: break-word;
    font-size: 12px;
    font-family: Helvetica,Arial, 'lucida grande' ,tahoma,verdana,arial,sans-serif;
}

.clear-messHistory
{
    width: 100%;
    float: left;
    border-bottom: solid 1px #e6e6e6;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#container-mess-fix
{
    width: 100%;
    height: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #c5c5c5;
    z-index: 10000;
    border-top: solid 2px #b3b3b3;
}

#container-mess-fix .bound
{
    width: 100%;
    height: 5px;
    position: relative;
}












